from kafka import KafkaProducer
from time import sleep

producer = KafkaProducer(bootstrap_servers='{{ brokernode }}:9092')
count=0

var = 1
encoding = 'utf-8'
hello="shegoj"
'hello'.decode(encoding)
while var == 1 :  # This constructs an infinite loop
        sleep (3) 
        print ("msg published")
	producer.send('{{ producer_data }}')
	producer.flush()

	producer = KafkaProducer(retries=5)
